h2 {
  font-size: 1em;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  text-transform: uppercase;
  font-family: sans-serif;
}

.block {
  width: 100px;
  height: 100px;
  float: left;
  margin: 5px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
